In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from datetime import datetime, time, timedelta

In [2]:
df = pd.read_pickle("/Users/chinu/Downloads/adarnn/Nifty_1.pkl")

In [6]:
df

,date,open,high,low,close,volume,ma,rsi,vwap,21atr,bollinger_higher
0,2015-02-02 09:15:00,0.348809,0.348693,0.347993,0.346261,0.001497,0.432312,0.496896,0.431453,0.000000,0.427671
1,2015-02-02 09:16:00,0.346585,0.345830,0.348903,0.345572,0.000440,0.432312,0.496896,0.431453,0.000000,0.427671
2,2015-02-02 09:17:00,0.345341,0.344610,0.348180,0.345174,0.000863,0.432312,0.496896,0.431453,0.000000,0.427671
3,2015-02-02 09:18:00,0.344918,0.343841,0.347028,0.343398,0.001347,0.432312,0.496896,0.431453,0.000000,0.427671
4,2015-02-02 09:19:00,0.343171,0.343947,0.347698,0.345280,0.000265,0.432312,0.496896,0.431453,0.000000,0.427671
...,...,...,...,...,...,...,...,...,...,...,...
830955,2024-01-25 15:25:00,0.830413,0.830134,0.840721,0.831403,0.001050,0.840792,0.703136,0.838807,0.197949,0.839687
830956,2024-01-25 15:26:00,0.830413,0.882682,0.840721,0.852901,0.047643,0.843148,0.834790,0.843021,0.363815,0.845323
830957,2024-01-25 15:27:00,0.851165,0.853810,0.849667,0.844816,0.077466,0.844540,0.719834,0.846675,0.395929,0.847101
830958,2024-01-25 15:28:00,0.842509,0.848879,0.851648,0.847441,0.042753,0.846049,0.733926,0.848729,0.403520,0.849526
830959,2024-01-25 15:29:00,0.847512,0.864600,0.853604,0.854386,0.065557,0.848064,0.767523,0.852179,0.456738,0.853415

In [4]:
df.reset_index(drop=False, inplace=True)

In [5]:
df['date'] = pd.to_datetime(df['date'])

In [7]:
df_monthly = df.groupby(df['date'].dt.to_period('M'))
min_trading_days = df_monthly.size().min()
df_filtered = df_monthly.apply(lambda x: x.head(min_trading_days)).reset_index(drop=True)

In [13]:
df_filtered

,date,open,high,low,volume,ma,rsi,vwap,21atr,bollinger_higher,year,month,day,close
0,2015-02-02 09:15:00,0.348809,0.348693,0.347993,0.001497,0.432312,0.496896,0.431453,0.000000,0.427671,2015,2,2,0.346261
1,2015-02-02 09:16:00,0.346585,0.345830,0.348903,0.000440,0.432312,0.496896,0.431453,0.000000,0.427671,2015,2,2,0.345572
2,2015-02-02 09:17:00,0.345341,0.344610,0.348180,0.000863,0.432312,0.496896,0.431453,0.000000,0.427671,2015,2,2,0.345174
3,2015-02-02 09:18:00,0.344918,0.343841,0.347028,0.001347,0.432312,0.496896,0.431453,0.000000,0.427671,2015,2,2,0.343398
4,2015-02-02 09:19:00,0.343171,0.343947,0.347698,0.000265,0.432312,0.496896,0.431453,0.000000,0.427671,2015,2,2,0.345280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688495,2024-01-23 15:25:00,0.696427,0.696935,0.704502,0.002683,0.706247,0.567442,0.704263,0.125439,0.700170,2024,1,23,0.698221
688496,2024-01-23 15:26:00,0.697433,0.697837,0.704850,0.003890,0.706450,0.553525,0.704465,0.126806,0.700481,2024,1,23,0.697824
688497,2024-01-23 15:27:00,0.697274,0.698446,0.704850,0.002242,0.706689,0.570121,0.704584,0.130143,0.700861,2024,1,23,0.698407
688498,2024-01-23 15:28:00,0.697618,0.699348,0.705386,0.001678,0.706824,0.538964,0.704661,0.134558,0.700968,2024,1,23,0.697532
688499,2024-01-23 15:29:00,0.696506,0.700912,0.704315,0.001652,0.707381,0.651064,0.704786,0.147520,0.702089,2024,1,23,0.702198

In [9]:
df_filtered['year'] = df_filtered['date'].map(lambda x: pd.to_datetime(x,format='%Y-%m-%d %H:%M:%S').year)
df_filtered['day'] = df_filtered['date'].map(lambda x: pd.to_datetime(x,format='%Y-%m-%d %H:%M:%S').day)
df_filtered['month'] = df_filtered['date'].map(lambda x: pd.to_datetime(x,format='%Y-%m-%d %H:%M:%S').month)

In [12]:
desired_order = ['date', 'open', 'high', 'low', 'volume','ma','rsi','vwap','21atr','bollinger_higher','year','month','day','close']
df_filtered = df_filtered[desired_order]

In [33]:
temp = {}
for n, g in tqdm(df_filtered.groupby(by='year')):
    for n_, g_ in g.groupby(by='month'):
        for name, group in g_.groupby(by='day'):
            key = str(n)+"-"+str(n_)+"-"+str(name)
            temp[key] = [group[['open','high','low','volume','ma','rsi','vwap','21atr','bollinger_higher']].values, group[['close']].values]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 28.65it/s]

In [38]:
temp['2015-2-2'][1].shape

(375, 1)

In [34]:
filtered_temp = {key: value for key, value in temp.items() if value.shape == (375, 9)}

AttributeError: 'list' object has no attribute 'shape'

In [19]:
dump = list(temp.values())
features = [x[0] for x in dump]
target = [x[1] for x in dump]

(375, 9)